{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Aprobar Item{% endblock %}
{% block encabezado %} 

{% endblock %}
{% block content %}
    <br>
    <center><h1>Agregar Item a Linea Base</h1></center>
    <br><br>
    <center>

	<form  method='post' action=''>{% csrf_token %}
        <label>Linea Base:</label>
        <select name="lb" >
        {% for l in lb %}
            <option value="{{ l.id_linea_base }}"> {{ l.nombre }}</option>
        {% endfor  %}
       </select>
        <label>Item: </label>
        <select name="item" >
            {% for item in items %}
            <option value="{{ item.id_item }}" >{{ item.nombre }}</option>
            {% endfor %}
        </select>

        <input class="btn btn-info" type='submit' value='ok'/>

    </form>
    </center>
{% endblock %}