{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
 <center>
        <h1>Lista de Atributos del Item: {{ item.nombre }}</h1>
    </center>
{% endblock %}
{% block content %}


 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Tipo</th>
        <th class="navbar-inner">Nombre</th>
        <th class="navbar-inner">Valor por Defecto</th>
        <th class="navbar-inner">Item</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in objetos %}
    <tr>
	    <td >{{dato.tipo }}</td>
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.valor_defecto }}</td>
        <td>{{ dato.item.nombre }}</td>

        <td> <a href="{% url 'demo_app.AdminAtributosItem.views.editaratributoitem' dato.id_atributo_por_item %}">Editar</a>
            -<a href="{% url 'demo_app.AdminAtributosItem.views.eliminaratributoitem' dato.id_atributo_por_item %}">Eliminar</a>
                -<a href="{% url 'demo_app.AdminAtributosItem.views.ver_atributo' dato.id_atributo_por_item %}">Ver Atributo</a>

        </td>


	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}