{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Nuevo Atributo Item{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}
    <br>
    <center><h1>Registrar Atributo Item</h1></center>
    <br><br>
    <center>
	<form id='formulario' method='post' action=''>{% csrf_token %}

        	<label>Tipo: </label>
        <input type="text" maxlength="45" required="" value="{{ atributo.tipo }}" name="tipo"/>
        <label>Nombre: </label>
        <input type="text" maxlength="50" required="" value="{{ atributo.nombre }}" name="nombre"/>
        <label>Valor Defecto: </label>
        <input type="text" maxlength="50" required="" value="{{ atributo.valor_defecto }}" name="valor_defecto"/>
         <label>Item: </label>
        <select name="Item" required="required">
            {% for item in items %}
            <option value="{{ item.id_item }}" {% if relacion.anterior_id == item.id_item %} selected {% endif %}>{{ item.nombre }}</option>
            {% endfor %}

        </select>

        <br>
		<input class="btn btn-info" type='submit' value='Registrar'/>

	</form>
    </center>
{% endblock %}