{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}


{% endblock %}
{% block content %}

<center>
<ul class="nav nav-tabs">
  <li><a href="{% url 'demo_app.AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
 <li><a href="{% url 'demo_app.AdminFases.views.fases_proyecto' id_proyecto %}">Fases</a></li>
  <li ><a href="{% url 'demo_app.AdminProyectos.views.colaboradores' id_proyecto %}" >Colaboradores</a></li>
   <li><a href="{% url 'demo_app.AdminRoles.views.roles' id_proyecto %}">Roles</a></li>
<li><a href="{% url 'demo_app.AdminItem.views.item_proyecto' id_proyecto %}">Items</a></li>
<li ><a href="{% url 'demo_app.AdminRelacion.views.relacion_proyecto' id_proyecto %}">Relaciones</a></li>
<li class="active" ><a href="{% url 'demo_app.AdminComite.views.ver_comite' id_proyecto %}">Comite</a></li>
</ul></center>

 <center>
 {% if comite_user|length != 0 %}
 <br><br>
        <h2>Miembros del Comite: {{ comite.nombre }}</h2>
    </center>
<br>
     <a class="btn btn-info" style="margin-left: 300px" href="{% url 'demo_app.AdminComite.views.editar_comite' id_proyecto %}">Modificar</a>
     <a class="btn btn-info" style="margin-left: 300px" href="{% url 'demo_app.AdminComite.views.eliminar' id_proyecto %}">Eliminar</a>
    <center>

 <table class="table table-stripped table-bordered" style="width: 600px">
 <tr>
     <th class="navbar-inner">Username</th>
     <th class="navbar-inner">Nombre</th>
     <th class="navbar-inner">Apellido</th>
     <th class="navbar-inner">Email</th>
 </tr>
     {% for cu in comite_user %}
    <tr>
    <td>{{ cu.user.username }}</td>
    <td>{{ cu.user.first_name }}</td>
    <td>{{ cu.user.last_name }}</td>
    <td>{{ cu.user.email }}</td>
    </tr>
    {% endfor %}

 </table>
    {% else %}
     <br><br>
    <h3>Este proyecto aun no cuenta con un comite</h3>
     <a class="btn btn-info btn-large" href="{% url 'demo_app.AdminComite.views.nuevo' id_proyecto %}">Crear Comite</a>
    {% endif %}
    </center>
<br><br><br>



{% endblock %}