[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=eclipse
Exec=/home/juanber/eclipse/eclipse
Icon=tangerine-properties
Path=
Terminal=false
StartupNotify=false
