{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Asignar Permiso al Rol{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}
    {% if msg != '' %}
    <div style="width: 300px"    class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Alerta!</strong> {{ msg }}!
</div>
    {% endif %}
    <br>
    <center><h1>Asignar Rol a un Usuario</h1></center>
    <br><br>
    <center>

	<form id='formulario' method='post' action=''>{% csrf_token %}
{#		<table>{{formulario}}</table>#}
    <table>
    <tr>
    <td>
     <label>Escoja un Rol</label>
  <select name="rol_select" required="">
        {% for dato in rol %}
            <option value="{{ dato.id_rol }}"> {{ dato.nombre }} </option>
	    {% endfor %}
</select>
    </td>
    </tr>
    <tr>
    <td>
    <label>Escoja un Usuario</label>
    <select name='user_select' required="">
        {% for dato in users %}
            <option value="{{ dato.id }}"> {{ dato.username }} </option>
	    {% endfor %}
</select>
    </td>
    </tr>
</table>


		<input class="btn btn-info" type='submit' value='Asignar'/>

	</form>
    </center>
{% endblock %}