{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Desasignar Rol{% endblock %}
{% block encabezado %} 

{% endblock %}
{% block content %}
    <br>
    <center><h1>Desasignar Rol</h1></center>
    <br><br>
    <center>
    <p>Esta seguro que desea DESASIGNAR el ROL {{ r.rol.nombre }} al USUARIO {{ r.user.username }}<p>
        </center>
    <center>

	<form  method='post' action=''>{% csrf_token %}


		<input class="btn btn-info" type='submit' name="delete" value='si'/>
        <input class="btn btn-info" type='submit' name="delete" value='no'/>
	</form>
    </center>
{% endblock %}