{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Nuevo Rol{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}
    <br>
    <center><h1>Nuevo Rol</h1></center>
    <br><br>
    <center>

	<form id='formulario' method='post' action=''>{% csrf_token %}
            {#		<table>{{formulario}}</table>#}


        <table>
            <tr>
                <th>Nombre: </th>
                <td><input type="text" required="" name="rol_name" width="100px"></td>
            </tr>
            <tr>
                <th>Descripcion: </th>
                <td><input type="text" required=""  name="rol_description" width="100px"></td>
            </tr>
        </table>

     <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Asignar Permisos</h3>
        </div>
        <div class="panel-body">


        <table class="table-bordered ">
            <tr>
                <td style="width: 200px; height: 100px" rowspan="4" class="navbar-inner"><center><b>PROYECTO</b></center>
                    </b><p>El usuario tendra permiso sobre este proyecto</p>    </td>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Crear Proyecto</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="add_proyecto"></center></td>
                </tr>
                <tr>
                   <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Modificar Proyecto</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="edit_proyecto"> </center></td>
                </tr>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Eliminar Proyecto</p></td>
                   <td style="width: 50px"><center><input type="checkbox" name="delete_proyecto"></center></td>
                </tr>
            </tr>
            <tr>
              <td style="width: 200px; height: 100px" rowspan="4" class="navbar-inner"><center><b>FASES</b></center>
                    </b><p>El usuario tendra permiso sobre esta Fase</p>    </td>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Crear Fases</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="add_fase"></center></td>
                </tr>
                <tr>
                   <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Modificar Fases</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="edit_fase"></center></td>
                </tr>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Eliminar Fases</p></td>
                   <td style="width: 50px"><center><input type="checkbox" name="delete_fase"></center></td>
                </tr>
              </tr>
             <tr>
             <td style="width: 200px; height: 100px" rowspan="5" class="navbar-inner"><center><b>ITEMS</b></center>
                    </b><p>El usuario tendra permiso sobre items de este proyecto</p>    </td>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Crear Items</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="add_item"></center></td>
                </tr>
                <tr>
                   <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Modificar Items</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="edit_item"></center></td>
                </tr>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Eliminar Items</p></td>
                   <td style="width: 50px"><center><input type="checkbox" name="delete_item"></center></td>
                </tr>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Revivir Items</p></td>
                   <td style="width: 50px"><center><input type="checkbox" name="revive_item"></center></td>
                </tr>

              </tr>
        <td style="width: 200px; height: 100px" rowspan="5" class="navbar-inner"><center><b>ROLES</b></center>
                    </b><p>El usuario podra administrar roles mediante estos permisos</p>    </td>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Crear Roles</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="add_rol"></center></td>
                </tr>
                <tr>
                   <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Modificar Roles</p></td>
                    <td style="width: 50px"><center><input type="checkbox" name="edit_rol"></center></td>
                </tr>
                <tr>
                    <td style="width: 200px; border: 3px"><p style=" margin-left: 30px;">Eliminar Roles</p></td>
                   <td style="width: 50px"><center><input type="checkbox" name="delete_rol"></center></td>
                </tr>


              </tr>


        </table>
        </div>
    </div>
        <br>
         		<input class="btn btn-info" type='submit' value='Guardar'/>
	</form>
    </center>



{% endblock %}
