<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project X</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

        <div class="container">
            <a class="brand" href="/">PROJECT X</a>
            {% if user.is_authenticated %}
            <ul class="nav">
            {% if user.is_active and  user.is_staff or user.is_active and user.is_superuser %}
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administracion<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% if user.is_superuser %}
                        <li><a href="{% url 'demo_app.AdminUsuarios.views.nuevo_usuario' %}">Agregar Usuario</a></li>
                        <li><a href="{% url 'demo_app.AdminUsuarios.views.usuarios' %}">Listar Usuarios</a></li>
                      {% endif %}
                        {% if user.is_staff %}
                         <li><a href="{% url 'demo_app.AdminProyectos.views.nuevo_proyecto' %}">Agregar Proyecto</a></li>
                        {% endif %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'demo_app.AdminProyectos.views.proyectos' %}">Listar Proyectos</a></li>
                    {% endif %}

                    </ul>
                </li>
            {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Desarrollo<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="{% url 'demo_app.AdminProyectos.views.mis_proyectos' %}">Mis Proyectos</a></li>

                      {% if user.is_superuser or user.is_staff %}
                        <li><a href="{% url 'demo_app.AdminTipoItem.views.nuevoTipoItem' %}">Agregar TipoItem</a></li>
                        <li><a href="{% url 'demo_app.AdminTipoItem.views.tipoitem' %}">Listar TipoItem</a></li>
                        <li><a href="{% url 'demo_app.AdminItem.views.listar_items' %}">Listar Item</a></li>
                       {% endif %}
                    </ul>
                </li>
                {% if user.is_superuser or user.is_staff %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion de Cambios<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                    </ul>
                </li>




                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relacion<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'demo_app.AdminRelacion.views.relacion' %}">Relacion</a></li>
                        <li><a href="{% url 'demo_app.AdminRelacion.views.nuevoRelacion' %}">Nuevo Relacion</a></li>
                    </ul>
                </li>



                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Atributo Item<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'demo_app.AdminAtributosItem.views.atributoitem' %}">Atributo Item</a></li>
                        <li><a href="{% url 'demo_app.AdminAtributosItem.views.nuevoatributoitem' %}">Nuevo Atributo Item</a></li>
                    </ul>
                </li>
                                {% endif %}
            </ul>
            <div>
                <a>Logged as: {{ user.username }} </a> -
                <a href="{% url 'demo_app.AdminUsuarios.views.cerrar' %}">Logout</a>
            </div>
        {% endif %}
        </div>

    </div>
</div>






<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p><a href="#">Sistema Gerenciamiento de Proyectos</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="#">Project X</a> 2014


            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
