<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project X</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">PROJECT X</a>
            <ul class="nav">

                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'demo_app.AdminUsuarios.views.nuevo_usuario' %}">Agregar</a></li>
                        <li><a href="{% url 'demo_app.AdminUsuarios.views.usuarios' %}">Listar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <li><a href="{% url 'demo_app.AdminProyectos.views.nuevo_proyecto' %}">Agregar Proyecto</a></li>
                        <li><a href="{% url 'demo_app.AdminProyectos.views.proyectos' %}">Listar Proyecto</a></li>
                        <li><a href="{% url 'demo_app.AdminProyectos.views.mis_proyectos' %}">Mis Proyectos</a></li>
                    </ul>
                </li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Roles<b class="caret"></b></a>
                    <ul class="dropdown-menu">
{#                        <li><a href="{% url 'demo_app.AdminRoles.views.nuevo_rol' %}">Agregar Rol</a></li>#}

{#                        <li><a href="{% url 'demo_app.AdminRoles.views.roles' %}">Listar Roles</a></li>#}


                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">TipoItem<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'demo_app.AdminTipoItem.views.nuevoTipoItem' %}">Agregar TipoItem</a></li>
                        <li><a href="{% url 'demo_app.AdminTipoItem.views.tipoitem' %}">Listar TipoItem</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <a href="{% url 'demo_app.AdminUsuarios.views.cerrar' %}">Logout</a>
            </div>
        </div>

    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p><a href="#">Sistema Gerenciamiento de Proyectos</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="#">Project X</a> 2014


            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
