{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Nuevo Comite{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}
    {% if msg != '' %}
        <center>
    <div class="alert  alert-info" data-dismiss="alert" style="width: 400px">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        {{ msg }}
    </div></center>
    {% endif %}
    <br>
    <center><h1>Nuevo Comite </h1></center>
    <br><br>
    <center>
	<form id='formulario' method='post' action=''>{% csrf_token %}
        <table class="table table-bordered table-striped" style="width: 400px">
            <tr>
                <th>Proyecto: </th><td><input type="text" disabled value="{{ proyecto.nombre }}"></td>
            </tr>
            <tr>
            <th>Nombre:</th><td><input type="text" required="" value="{{ comite.nombre }}" name="nombre"></td>
            </tr>
        </table>
    <p>Debe seleccionar un numero impar de usuarios al comite</p>
        <table class="table table-bordered table-stripped">
            <tr>
                <th class="navbar-inner">Username</th>
                <th class="navbar-inner">Nombre</th>
                <th class="navbar-inner">Apellido</th>
                <th class="navbar-inner">Email</th>
                 <th class="navbar-inner">Marcar</th>
            </tr>
            {% for u in users %}
            <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>
            <td><input type="checkbox" {% for cu in comite_user %} {% if cu.user.id  ==  u.id%} checked {% endif %} {% endfor %} name="check_{{ u.id }}"></td>
            </tr>
            {% endfor  %}
        </table>


        <br>
		<input class="btn btn-info" type='submit' value='Actualizar'/>

	</form>
    </center>
{% endblock %}