{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %} Fase{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}
    {% if msg != '' %}
    <div style="width: 300px"    class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Alerta!</strong> {{ msg }}!
</div>
    {% endif %}
    <br>
    <center><h1>Fase</h1></center>
    <br><br>
    <center>
	<form id='formulario' method='post' action=''>{% csrf_token %}
        <center>
            <table>
                <tr>
                <td><label>Nombre de la Fase</label>
                    <input type="text" {% if modo == 'Editar' %} value="{{ fase.nombre }}" {% endif %} name="nombre" required="" >
                </td>
                </tr>
                  <tr>
                <td><label>Descripcion</label>
                    <textarea rows="4" name="descripcion" required="">{% if modo == 'Editar' %} {{ fase.descripcion }} {% endif %}</textarea>
                </td>
                  </tr>
            <tr>
                 <td><label>Estado</label>
                    <input  type="text" readonly value="{{ estados }}">
                  </td>
                </tr>
        </table></center>
            <br>
		<input class="btn btn-info" type='submit' value='Guardar'/>

	</form>
    </center>
{% endblock %}