{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}

{% endblock %}
{% block content %}
<center><h1>Fase: {{fase.nombre  }}</h1></center>

<table>
    <td> <h3>Tipo Items</h3></td>
    <td style="width: 800px"></td>
     <td><a class="btn btn-info" href="{% url 'demo_app.AdminFases.views.fases_proyecto' fase.proyecto_id %}">Volver</a></td>
    <td><a class="btn btn-info" href="{% url 'demo_app.AdminTipoItem.views.TipoItemToFase' fase.id_fase %}">Add Tipo Item</a></td>
</table>
 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Nombre</th>

        <th class="navbar-inner">Descripcion</th>
        <th class="navbar-inner">Proyecto</th>
        <th class="navbar-inner">Fase</th>
        <th class="navbar-inner">Padre</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in datos %}
    <tr>
	    <td> <a href="{% url 'demo_app.AdminTipoItem.views.TipoItemToItem' dato.id_tipo_item     %}">{{dato.nombre }}</a></td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.proyecto.nombre }}</td>
        <td>{{ dato.fase.nombre }}</td>
        <td>{{ dato.padre.nombre }}</td>
        <td> <a href="{% url 'demo_app.AdminTipoItem.views.editartipoitem' dato.id_tipo_item %}">Editar</a>
            -<a href="{% url 'demo_app.AdminTipoItem.views.eliminartipoitem' dato.id_tipo_item %}">Eliminar</a></td>


	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}