{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}

<script>
function abrir(url) {
open(url,'','top=300,left=300,width=300,height=300') ;
}
</script>

{% endblock %}
<body onload="abrir()">
{% block content %}

<ul class="nav nav-tabs">
  <li ><a href="{% url 'demo_app.AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
  <li class="active"><a href="{% url 'demo_app.AdminFases.views.fases_proyecto' id_proyecto %}">Fases</a></li>
    <li ><a href="{% url 'demo_app.AdminProyectos.views.colaboradores' id_proyecto %}" >Colaboradores</a></li>
   <li ><a href="{% url 'demo_app.AdminRoles.views.roles' id_proyecto %}">Roles</a></li>
<li><a href="{% url 'demo_app.AdminItem.views.item_proyecto' id_proyecto %}">Items</a></li>
<li ><a href="{% url 'demo_app.AdminRelacion.views.relacion_proyecto' id_proyecto %}">Relaciones</a></li>


</ul>



<br><br>
 <table class=" table-bordered table-condensed" >
    <tr>
        <th style="width: 300px" class="navbar-inner">Nombre</th>
        <th style="width: 200px" class="navbar-inner">Accion</th>
    </tr>
    {% for fase in fases %}
    <tr>
	    <td>{% if fase.nombre != None %} <a href="{% url 'demo_app.AdminFases.views.fase_tipo_item' fase.id_fase %}">{{ fase.nombre }}</a> {% else %}  Fase{{ fase.numero_items}} {% endif %}</td>
        {% if fase.nombre == None %}<td> <a href="{% url 'demo_app.AdminFases.views.importar' fase.id_fase %}">Importar </a> -
        <a href="{% url 'demo_app.AdminFases.views.fase' fase.id_fase id_proyecto %}">Crear</a></td>
        {% else %}<td> <a href="{% url 'demo_app.AdminFases.views.fase' fase.id_fase id_proyecto %}">Modificar</a></td>
        {% endif %}
	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}
</body>

