{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Editar Relacion{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}
    <br>
    <center><h1>Relacionar</h1></center>
    <br><br>
    <center>
	<form id='formulario' method='post' action=''>{% csrf_token %}

        	<label>Tipo: </label>
        <input type="text" maxlength="45" required="" value="{{ relacion.tipo_relacion }}" readonly name="tipo"/>
        <label>Nombre: </label>
        <input type="text" maxlength="50" required="" value="{{ relacion.nombre }}" name="nombre"/>

         <label>Item Hijo: </label>
       <input type="text" maxlength="50" readonly value="{{ nombre }}" name="nombre"/>

         <label>Item Padre: </label>

            <select required="required" name="antes">
                {% for lb in lbs %}
                <option value="{{ lb.0 }}">{{ lb.1 }}</option>
                {% endfor %}
            </select>
        <br>
		<input class="btn btn-info" type='submit' value='Actualizar'/>

	</form>
    </center>
{% endblock %}