{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Finalizar Item{% endblock %}
{% block encabezado %} 

{% endblock %}
{% block content %}
    <br>
    <center><h1>Finalizar Item</h1></center>
    <br><br>
    <center>
    <p>Esta seguro que desea Finalizar el  Item {{ item.nombre }}<p>
        </center>
    <center>

	<form  method='post' action=''>{% csrf_token %}
		<input class="btn btn-info" type='submit' name="fin" value='si'/>
        <input class="btn btn-info" type='submit' name="fin" value='no'/>
	</form>
    </center>
{% endblock %}