{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}


{% endblock %}
<body onload="abrir()">
{% block content %}

       <!-- List of uploaded documents -->
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.archivo.url }}">{{ document.archivo.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}s

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'demo_app.AdminItem.views.list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>



{% endblock %}
</body>

