{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% block extrahead %}

<script src="/static/dajaxice/dajaxice.core.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript"     src="/static/dajax/jquery.dajax.core.js"></script>

{% endblock %}
{% block header %}
{{ proyecto.nombre }}
{% endblock %}

{% block content %}
<script>
function editar_tipo(id_tipo){
	$('#id_tipo').val(id_tipo)
	{% for tipo in tipo_items %}
	var tipo_id="{{ tipo.id }}"
		if (id_tipo == tipo_id){ 
			$('#id_nombre').val('{{tipo.nombre}}')
			$('#id_descripcion').val('{{tipo.descripcion}}')
			var fase_id={{ tipo.fase_id }}
		}
	{% endfor %}
	var select=document.getElementById('fase-select')
	var index=0
	for(var i=0; i<select.options.length;i++){ 
 		if(select.options[i].value == fase_id){ 
 			select.options[i].selected="selected"
 		}
	}
}

function eliminar_tipo(id_tipo){

	{% for tipo in tipo_items %}
	var tipo_id="{{ tipo.id }}"
	if (id_tipo == tipo_id){ 
		
	$('#confirm-delete').html('Esta seguro/a que desea eliminar el Tipo Item <strong>"{{tipo.nombre}}"</strong>?')
	document.getElementById('id_tipo_delete').value=id_tipo
	}
	{% endfor %}
}

function final(id){ 
$('#id_import').val(id)
$('#formulario').submit()

}
function buscar(string){

var table=document.getElementById("table-importar")
while(table.rows.length > 1){ 
		table.rows[1].remove()
	}
var cont=1

{% for fase in lista_fases %}
	var nombre="{{fase.nombre }}"
	
	
	if (nombre.indexOf(string)!=-1 && cont <= 10){ 
		var onclick="$('#id_import).val('{{fase.id}}')"
		var tr='<td>{{fase.nombre}}</td><td>{{ fase.descripcion }}</td>'
		tr+='<td><a onclick="'+onclick+'" class="btn btn-success btn-sm">Seleccionar <i class="fa fa-check"></i></a> </td>'
		var row=table.insertRow(cont)
		row.innerHTML=tr
		cont++;
		
	}

{% endfor %}
}

</script>



<ul class="nav nav-tabs">
  <li ><a href="{% url 'AdminProyectos.views.mi_proyecto' proyecto.id %}">Mi Proyecto</a></li>
  <li ><a href="{% url 'AdminFases.views.fases_proyecto' proyecto.id %}">Fases</a></li>
  <li class="active"><a href="{% url 'AdminTipoItem.views.tipoitem_proyecto' proyecto.id %}">Tipos Item</a></li>
  <li ><a href="{% url 'AdminItems.views.items_proyecto' proyecto.id %}">Items</a></li>
  <li ><a href="{% url 'AdminAtributos.views.atributo_admin' proyecto.id %}">Atributos</a></li>
    {% comment %}  
    <li ><a href="{% url 'AdminProyectos.views.colaboradores' proyecto.id %}" >Colaboradores</a></li>
   <li ><a href="{% url 'AdminRoles.views.roles' proyecto.id %}">Roles</a></li>
<li><a href="{% url 'AdminItem.views.item_proyecto' proyecto.id %}">Items</a></li>
<li ><a href="{% url 'AdminRelacion.views.relacion_proyecto' proyecto.id %}">Relaciones</a></li>
<li ><a href="{% url 'AdminComite.views.ver_comite' proyecto.id %}">Comite</a></li>
{% endcomment %}
</ul>



<br>
<table class="table">
<form name="filtro-form" method="post">{% csrf_token %}
<tr>
<td style="width: 50%">
<a class="btn btn-success" data-toggle="modal" data-target="#crearTipo"  href="#crearTipo" >
       Crear Tipo Item&nbsp;<i class="fa fa-plus"></i></a>
</td>
<td style="width: 25%">
<select name="filtro-fase" class="form-control" style="width: 200px" >
<option value="">Todos...</option>
{% for fase in fases_filtro %}
	      <option value="{{ fase.id }}">{{fase.nombre}}</option>
	      {% endfor %}
</select>
</td>
<td style="width: 25%">
<input type="hidden" name="filtrar" id="filtrar" >
<button type="submit" onclick="$('#filtrar').val('filtrar')" class="btn btn-primary">Filtrar <i class="fa fa-filter"></i></button>

</td>
 </tr>
 </form>
</table>
<form method='post' name="form1" id="formulario">{% csrf_token %}
 <table class="table table-bordered table-condensed table-striped table-hover" >
    <thead>

        <th >Nombre</th>
        <th style="width: 50%" >Descripcion</th>
           <th>Fase</th>
        <th style="width: 300px" >Accion</th>
        
    </thead>
    {% for tipo in tipo_items %}
    
    <tr>
    	<td>{{ tipo.nombre }}   </td>
    	<td>{{ tipo.descripcion }}   </td>
    	<td>{{ tipo.fase.nombre }}   </td>
    	<td>
    	<a class="btn btn-warning btn-sm" data-toggle="modal" onclick="editar_tipo({{ tipo.id }})"data-target="#crearTipo"  href="#crearTipo" >
      Editar&nbsp;<i class="fa fa-edit"></i></a>
      
      <a class="btn btn-danger btn-sm" data-toggle="modal" onclick="eliminar_tipo({{ tipo.id }})"data-target="#deleteTipo"  href="#deleteTipo" >
      Eliminar&nbsp;<i class="fa fa-trash-o"></i></a>
      
      </td>	
    
	</tr>
	{% endfor %}
 </table>


 
 
<input type="hidden" name="id_tipo" id="id_tipo" value="">

<input type="hidden" name="id_import" id="id_import" value="">


 <!-- Modal -->
	<div class="modal fade" id="crearTipo" data-backdrop="static" data-keyboard="false"  style="top: 5%" role="dialog" aria-labelledby="crearTipoLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="crearTipoLabel"><b>Tipo Item</b></h4>
	      </div>
	      <div class="modal-body">
	      <table class="table table-striped">
	      <tr>
	      <th>Fase:</th>
	      <td>
	      <select class="form-control" id="fase-select" name="fase" required>
	      {% for fase in fases %}
	      <option value="{{ fase.id }}">{{fase.nombre}}</option>
	      {% endfor %}
	      </select>
	      
	      </tr>
	      {{ form.as_table }}
	      </table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default"  data-dismiss="modal"> <i class="fa fa-times"></i> Cancelar</button>
	        <button type="submit" class="btn btn-default btn-primary" >  Aceptar <i class="fa fa-check"></i></button>
	        
	      </div>
	    </div>
	  </div>
	</div>



</form>

<form method="post">{% csrf_token %}
<input type="hidden" name="id_tipo_delete" id="id_tipo_delete" value="">

 <!-- Modal -->
	<div class="modal fade" id="deleteTipo" data-backdrop="static" data-keyboard="false"   style="top: 10%" role="dialog" aria-labelledby="deleteTipoLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close"  onclick="$('#id_tipo_delete').val('')"  data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="deleteTipoLabel"><b>Eliminar Tipo Item</b></h4>
	      </div>
	      <div class="modal-body">
	      	<p id="confirm-delete"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" onclick="$('#id_tipo_delete').val('')" data-dismiss="modal"> <i class="fa fa-times"></i> Cancelar</button>
	        <button type="submit" class="btn btn-default btn-primary" >  Aceptar <i class="fa fa-check"></i></button>
	        
	      </div>
	    </div>
	  </div>
	</div>

</form>
<br><br>
{% endblock %}
