{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}

{% endblock %}
{% block content %}
<center><h1>Tipo Item: {{tipo_item.nombre  }}</h1></center>

<table>
    <td> <h3>Items</h3></td>
    <td style="width: 800px"></td>
     <td><a class="btn btn-info" href="{% url 'demo_app.AdminFases.views.fase_tipo_item' tipo_item.fase_id %}">Volver</a></td>
    <td><a class="btn btn-info" href="{% url 'demo_app.AdminItem.views.TipoItem_nuevo_item' tipo_item.id_tipo_item %}">Add Item</a></td>
</table>

 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Nombre</th>
        <th class="navbar-inner">Descripcion</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in datos %}
    <tr>
	    <td><em>{{dato.nombre}}</em></td>

        <td>{{ dato.descripcion }}</td>
    <td><a href="{% url 'demo_app.AdminItem.views.TipoItem_editar_item' dato.id_item %}">Editar</a></td>

	</tr>
	{% endfor %}
 </table>



<br><br><br>



{% endblock %}