{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
 <center>
        <h1>Lista de Tipo Item</h1>
    </center>
{% endblock %}
{% block content %}
   <table>
   <td style="width: 70%;margin-right: 0px; margin-left: 100%; ">
        {{ lines|pagination }}
   </td>
       <!-- PERMISOS: {{ p  }} -->
    <!--BUSQUEDA DE PERMISOS -->
   <td>
            <form id='formulario' method='post' action=''>{% csrf_token %}
		     <table>
                 <td><input type="text" placeholder="Nombre del Tipo Item" nombre="buscar" width="200px"></td>
                 <td style="width: 20px"></td>
		           <td><input class="btn btn-info btn-lrg" type='submit' value='Buscar'/></td>
            </table>
           </form>
   </td>




   </table>



 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Nombre</th>
        <th class="navbar-inner">Descripcion</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in tipoitem %}
    <tr>
	    <td >{{dato.nombre }}</td>
        <td>{{ dato.descripcion }}</td>
        <td> <a href="{% url 'demo_app.AdminTipoItem.views.editartipoitem' dato.id_tipo_item %}">Editar</a>
            -<a href="{% url 'demo_app.AdminTipoItem.views.eliminartipoitem' dato.id_tipo_item %}">Eliminar</a></td>


	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}