{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}

{% endblock %}
{% block content %}
<center><h1>Tipo Item: {{tipo_item.nombre  }}</h1></center>

<table>
    <td> <h3>Items</h3></td>
    <td style="width: 800px"></td>
     <td><a class="btn btn-info" href="{% url 'demo_app.AdminFases.views.fase_tipo_item' tipo_item.fase_id %}">Volver</a></td>
    <td><a class="btn btn-info" href="{% url 'demo_app.AdminItem.views.TipoItem_nuevo_item' tipo_item.id_tipo_item %}">Add Item</a></td>
</table>

   <table>
   <td style="width: 70%;margin-right: 0px; margin-left: 100%; ">
        {{ lines|pagination }}
   </td>
   <td>
       <form id='formulario' method='post' action=''>{% csrf_token %}
	     <table>
              <td><input type="text" placeholder="Nombre del Item" name="buscar" width="200px"></td>
              <td style="width: 20px"></td>

	          <td><input class="btn btn-info btn-lrg" type='submit' value='Buscar'/></td>
         </table>
       </form>
   </td>

   </table>

 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Nombre</th>
        <th class="navbar-inner">Descripcion</th>
        <th class="navbar-inner">Estado</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in datos %}
    <tr>
	    <td><em>{{dato.nombre}}</em></td>
        <td>{{ dato.descripcion }}</td>
        <td>{{dato.estado}}</td>
    <td style="width: 300px"><a href="{% url 'demo_app.AdminItem.views.TipoItem_editar_item' dato.id_item %}">Editar</a>
    - <a href="{% url 'demo_app.AdminRelacion.views.relacion_item' dato.id_item %}">Relacionar</a>
        - <a href="{% url 'demo_app.AdminAtributosItem.views.atributos_por_item' dato.id_item %}">Ver Atributos</a>
        {% if estado_item == dato.estado %}
           -  <a href="{% url 'demo_app.AdminItem.views.aprobar' dato.id_item %}">Aprobar</a>
        {% endif %}

   
    </td>

	</tr>
	{% endfor %}
 </table>



<br><br><br>



{% endblock %}