{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
 <center>
        <h1>Lista de Relacion</h1>
    </center>
{% endblock %}
{% block content %}
   <table>
   <td style="width: 70%;margin-right: 0px; margin-left: 100%; ">
        {{ lines|pagination }}
   </td>


   </table>



 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Tipo</th>
        <th class="navbar-inner">Nombre</th>
        <th class="navbar-inner">Actual</th>
        <th class="navbar-inner">Anterior</th>
        <th class="navbar-inner">Posterior</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in relacion %}
    <tr>
	    <td >{{dato.tipo }}</td>
        <td>{{ dato.nombre }}</td>
        <td>{{ dato.actual.nombre }}</td>
        <td>{{ dato.anterior.nombre }}</td>
        <td>{{ dato.posterior.nombre }}</td>

        <td> <a href="{% url 'demo_app.AdminRelacion.views.editarrelacion' dato.id_relacion %}">Editar</a>
            {% comment %}-<a href="{% url 'demo_app.AdminRelacion.views.eliminarrelacion' dato.id_relacion %}">Eliminar</a> {% endcomment %}</td>


	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}