{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Mi Proyecto{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}

<ul class="nav nav-tabs">
  <li ><a href="{% url 'demo_app.AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
  <li><a href="{% url 'demo_app.AdminFases.views.fases_proyecto' id_proyecto %}">Fases</a></li>
    <li class="active"><a href="{% url 'demo_app.AdminProyectos.views.colaboradores' id_proyecto %}" >Colaboradores</a></li>
   <li ><a href="{% url 'demo_app.AdminRoles.views.roles' id_proyecto %}">Roles</a></li>
<li><a href="{% url 'demo_app.AdminItem.views.item_proyecto' id_proyecto %}">Items</a></li>
<li ><a href="{% url 'demo_app.AdminRelacion.views.relacion_proyecto' id_proyecto %}">Relaciones</a></li>

</ul>

<br><br>
    <a class="btn btn-info" href="{% url 'demo_app.AdminRoles.views.nuevo_rol_user' id_proyecto%}">Agregar Colaborador</a>
    <br><br>
    <center>
    <table class="table-striped table-bordered">
    <tr>
        <th class="navbar-inner" style="width: 250px">Username</th>
        <th class="navbar-inner" style="width: 250px">Rol</th>
    <th class="navbar-inner" style="width: 250px">Accion</th>

      {% for r in roles_user %}
          <tr>
          <td><center>{{ r.user.username }}</center></td>
          <td><center>{{ r.rol.nombre }}</center></td>
           <td><center><a href="{% url 'demo_app.AdminRoles.views.desasignar_rol' r.id_rol_permiso %}">Desasignar</a></center></td>
          </tr>


             {% endfor %}

    </table>
    </center>
{% endblock %}
