{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %} Proyecto{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'demo_app.AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
 <li><a href="{% url 'demo_app.AdminFases.views.fases_proyecto' id_proyecto %}">Fases</a></li>
  <li ><a href="{% url 'demo_app.AdminProyectos.views.colaboradores' id_proyecto %}" >Colaboradores</a></li>
   <li><a href="{% url 'demo_app.AdminRoles.views.roles' id_proyecto %}">Roles</a></li>
</ul>

    <center>
        <h1>Proyecto: {{ proyecto.nombre }}</h1>


        <table class="table table-bordered table-striped" style="width: 500px">

            <tr><th style="width: 180px" class="navbar-inner">Leader: </th><td>{{ proyecto.user.username }}</td></tr>
            <tr><th class=  "navbar-inner">Nombre: </th><td  style="text-align: center">{{ proyecto.nombre }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Creacion: </th><td style="text-align: center">{{ proyecto.nombre }}</td></tr>
            <tr><th class="navbar-inner">Complejidad: </th><td style="text-align: center">{{ proyecto.complejidad }}</td></tr>
            <tr><th class="navbar-inner">Nro. Fases: </th><td style="text-align: center">{{ proyecto.nro_fases }}</td></tr>
            <tr><th class="navbar-inner">Coste Total: </th><td style="text-align: center">{{ proyecto.coste_total }}</td></tr>
            <tr><th class="navbar-inner">Descripcion: </th><td style="text-align: center">{{ proyecto.descripcion }}</td></tr>
        </table>

                <a class="btn btn-info" {% if proyecto.estado == 'INICIADO' %} disabled {% endif %} href="{% url 'demo_app.AdminProyectos.views.editar_proyecto' proyecto.id_proyecto %}">Editar</a>

                <input type="submit" {% if proyecto.estado == 'INICIADO' %} disabled {% endif %} value="Iniciar Proyecto" class="btn btn-info">
    </center>
{% endblock %}
