{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Editar Proyecto{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'demo_app.AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
 <li><a href="{% url 'demo_app.AdminFases.views.fases_proyecto' id_proyecto %}">Fases</a></li>
  <li ><a href="{% url 'demo_app.AdminProyectos.views.colaboradores' id_proyecto %}" >Colaboradores</a></li>
   <li><a href="{% url 'demo_app.AdminRoles.views.roles' id_proyecto %}">Roles</a></li>
</ul>

    <center>
      Leader
         <select>
            <option value="volvo">{{ user.username }}</option>
        </select>

	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>

		<input class="btn btn-info" type='submit' value='Guardar'/>

	</form>
    </center>
{% endblock %}
