{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Proyectos{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}


    <br>
    <center><h1>Mis Proyectos</h1></center>
    <br><br>
    <center>

        <table class="table" style="width: 500px">
        {% for x,y in proyectos %}
                    <tr>
                      <td>
                      <li>   <a href="{% url 'demo_app.AdminProyectos.views.mi_proyecto' y %}">  {{ x }}</a></li>

                      </td>

                    </tr>

        {% endfor %}

    </table>
        </center>
{% endblock %}
