{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Proyectos{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}


    <br>
    <center><h1>Mis Proyectos</h1></center>
    <br><br>
    <center>

        <table class="table">
            {{ proyectos.0 }}{{ proyectos.1 }}
         {{ proyectos.2 }}{{ proyectos.3 }}
        {% for x,y in proyectos %}
                    <tr>
                      <td>
                      <li>   <a href="{% url 'demo_app.AdminProyectos.views.nuevo_proyecto'%}">{{ x }}  {{ y }}</a></li>
                        <hr>
                      </td>

                    </tr>

        {% endfor %}

    </table>
        </center>
{% endblock %}
