{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Proyectos{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}
    <br>
    <center><h1>Mis Proyectos</h1></center>
    <br><br>
    <center>
     <ul class="dropdown-menu">
                        <li><a href="{% url 'demo_app.AdminRoles.views.nuevo_rol' %}">Agregar Rol</a></li>
                        <li><a href="{% url 'demo_app.AdminRoles.views.roles' %}">Listar Roles</a></li>
                        <li><a href="{% url 'demo_app.AdminRoles.views.nuevo_rol_user' %}">Asignar Rol</a></li>

                    </ul>
        </center>
{% endblock %}
