{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    <center xmlns="http://www.w3.org/1999/html">
        <h1>Proyectos</h1>
    </center>
{% endblock %}
{% block content %}
   <table>
   <td style="width: 70%;margin-right: 0px; margin-left: 100%; ">
        {{ lines|pagination }}
   </td>

{##}
{##}
{#   <td>#}
{#<form id='formulario' method='post' action=''>{% csrf_token %}#}
{#		     <table>#}
{#                 <td><input type="text" placeholder="Nombre del Modelo" width="200px"></td>#}
{#                 <td style="width: 20px"></td>#}
{#		           <td><input class="btn btn-info btn-lrg" type='submit' name="buscar" value='Buscar'/></td>#}
{#            </table>#}
{#           </form>#}
{#   </td>#}

   </table>


 <form id="myform" class="form-wizard">

      <h2 class="form-wizard-heading">BootStap Wizzard Form</h2>
<input type="text" value="HOLLAAAA">
<input type="submit"  class="btn btn-info"> holaaaa </input>
 <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>
 <a type="btn"></a>
 </form>




<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Eliminar Usuario</h3>
</div>
<div class="modal-body">
<p>Esta seguro que desea eliminar a este usuario?? </p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
<button class="btn btn-primary">Si</button>
</div>
</div>


 <table class="table" >
    <tr>
        <th class="navbar-inner">Nombre</th>
        <th class="navbar-inner">Leader</th>
        <th class="navbar-inner">Estado</th>
        <th class="navbar-inner">Fecha de Creacion</th>
        <th class="navbar-inner">Complejidad</th>
        <th class="navbar-inner">Nro Fases</th>
        <th class="navbar-inner">Coste Total</th>
        <th class="navbar-inner">Accion</th>
    </tr>
    {% for dato in proyectos %}
    <tr>
	    <td><em>{{dato.nombre}}</em></td>
        <td >{{dato.leader}}</td>
        <td>
            {% if dato.estado  %}
                Iniciado
            {% else %}
                Finalizado
            {% endif%}
        </td>
        <td>{{ dato.fecha_creacion }}</td>
     <td>{{ dato.complejidad }}</td>
    <td>{{ dato.nro_fases }}</td>
    <td>{{ dato.coste_total }}</td>
        <td> <a href="{% url 'demo_app.AdminProyectos.views.editar_proyecto' dato.id_proyecto %}">Editar</a>
        -<a href="{% url 'demo_app.AdminProyectos.views.eliminar_proyecto' dato.id_proyecto %}">Eliminar</a></td>
	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}