{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Nuevo usuario{% endblock %}
{% block header %} 
EDITAR USUARIO
{% endblock %}
{% block content %}
  
    <center>
	<form id='formulario' method='post' action=''>{% csrf_token %}
	<ul class="messages">
		    {% for message in formulario.errors %}
		    <div class="alert alert-dismissible alert-error' >
		     <button type="button" class="close" data-dismiss="alert">
		     <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		    {{ message }}</div>
		    {% endfor %}
		</ul>
		<table style="width: 50%"  class="table table-striped">{{formulario.as_table}}</table>

		<a class="btn btn-default" href="/usuarios/"> <i class="fa fa-backward"></i> Volver</a>
		<button class="btn btn-primary" type='submit' >Guardar <i class="fa fa-save"></i></button>
	


	</form>
    </center>
{% endblock %}