{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Ver Rol{% endblock %}
{% block extra_head %}

{% endblock %}
{% block content %}

    <center><h1>Ver Rol</h1></center>
    <br>
    <center>

	<form id='formulario' method='post' action=''>{% csrf_token %}

        <table>
            <tr>
                <th>Nombre: </th>
                <td><input type="text" required="" disabled  value="{{ rol.nombre }}" name="rol_name" width="100px"></td>
            </tr>
            <tr>
                <th>Descripcion: </th>
                <td><input type="text" required="" disabled value="{{ rol.descripcion }}"  name="rol_description" width="100px"></td>
            </tr>
        </table>

     <div class="panel panel-default">
         <div class="panel-heading">
             <table>
                 <tr>
                      <h3 class="panel-title">Asignar Permisos</h3>
                 </tr>
                  <tr>

                 <td>Marcar/Desmarcar Todos: <input type="checkbox" onclick="marcar(this);" /> </td>
                 </tr>
             </table>

        </div>
        <div class="panel-body">


        <table class="table-bordered ">
            <tr>
                <td style="width: 200px; height: 100px" rowspan="2" class="navbar-inner"><center><b>PROYECTO</b></center>
                    </b><p>El usuario tendra permiso sobre este proyecto</p>    </td>
            </tr>
                <tr>
             <td style="width: 50px"><center><input type="checkbox" disabled {% if permiso.AdminProyecto  %} checked {% endif %} name="proyecto"> </center></td>
            </tr>
            <tr>
              <td style="width: 200px; height: 100px" rowspan="2" class="navbar-inner"><center><b>FASES</b></center>
                    </b><p>El usuario Podra administrar Fases</p>    </td>
                <tr>

                    <td style="width: 50px"><center><input disabled {% if permiso.AdminFase %} checked {% endif %} type="checkbox" name="fase"></center></td>
                </tr>
              </tr>

             <tr> <td style="width: 200px; height: 100px" class="navbar-inner"><center><b>ITEMS</b></center>
                    </b><p>El usuario tendra permiso sobre items y tipo items de este proyecto</p>    </td>
                    <td style="width: 50px" ><center><input type="checkbox" disabled {% if permiso.AdminItem  %} checked {% endif %} name="item"></center></td></tr>

            <tr> <td style="width: 200px; height: 100px" rowspan="1" class="navbar-inner"><center><b>ROLES</b></center>
                    </b><p>El usuario podra administrar roles mediante estos permisos</p>    </td>
                <td style="width: 50px"><center><input type="checkbox" disabled {% if permiso.AdminRol  %} checked {% endif %} name="rol"></center></td></tr>


              </tr>
                <td style="width: 200px; height: 100px" rowspan="2" class="navbar-inner"><center><b>Usuarios</b></center>
                    </b><p>El usuario tendra permiso para Administrar Usuarios dentro de un proyecto</p>    </td>

             <tr>
                    <td style="width: 50px"><center><input type="checkbox" disabled {% if permiso.AdminUser  %} checked {% endif %} name="user"></center></td>
                </tr>
            </tr>



        </table>
        </div>
    </div>
        <br>
         		<input class="btn btn-info" type='submit' value='Guardar'/>
	</form>
    </center>



{% endblock %}
