{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block title %}Editar Proyecto{% endblock %}
{% block header %}
EDITAR PROYECTO
{% endblock %}
{% block content %}


   
    <center>

           

	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table class="table table-striped" style="width: 50%">
		{{formulario.as_table}}</table>
		<br>	
		<a class="btn btn-default" href="/proyectos/"> <i class="fa fa-backward"></i> Volver</a>
		<button class="btn btn-primary" type='submit' >Guardar <i class="fa fa-save"></i></button>

	</form>
    </center>
{% endblock %}
