{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}


{% endblock %}
<body >
{% block content %}



    <center><H2>Historial Linea Base: {{ lb.numero }}</H2></center>
    <center><H4>Estado: {{ lb.estado }}</H4></center>
   <table>
{#<td><a  class="btn btn-info" href="{% url 'demo_app.AdminItem.views.item_proyecto' id_proyecto %}">Volver</a></td>#}
{#       <td><a  class="btn btn-info" href="{% url 'demo_app.AdminItem.views.item_reporte' id_item %}">Descargar</a></td>#}
   <td style="width: 70%;margin-right: 0px; margin-left: 100%; ">
        {{ lines|pagination }}
   </td>
   </table>

<a class="btn btn-info" href="{% url 'demo_app.AdminLineaBase.views.listar_lb' lb.proyecto_id %}">Volver</a>
<a class="btn btn-info" href="{% url 'demo_app.AdminLineaBase.views.lb_reporte' lb.id_linea_base %}">Descargar</a>
 <table class="table table-bordered table-condensed" >
    <tr>
        <th class="navbar-inner">Tipo Modificacion</th>
        <th class="navbar-inner">Fecha</th>
        <th class="navbar-inner">Usuario</th>


    </tr>
    {% for dato in datos %}
    <tr>
	    <td><em>{{dato.tipo_operacion}}</em></td>
        <td>{{ dato.fecha_modificacion }}</td>
        <td>{{ dato.usuario.username }}</td>


	</tr>
	{% endfor %}
 </table>


<br><br><br>



{% endblock %}
</body>

